extends ./base/layout

block title
  title Backbone-Forms multiple validator examples

block menu
  +menu('multiple')

block extraheaders
  script
    :coffee-script
      example = () ->
        @schema = () ->
          emails:
            type: 'Text'
            title: 'Emails'
            help: 'Enter multiple e-mail addresses separated by comma'
            validators: [
              type: 'multiple'
              base_type: 'email'
              separator: ','
              message: 'Multiple emails separated by comma'
            ]
            editorAttrs:
              autocomplete: 'off'

      document.addEventListener "DOMContentLoaded", example, false
      window.addEventListener "load", example, false
