extends ./base/layout

block title
  title Backbone-Forms NIP validator examples

block menu
  +menu('nip')

block extraheaders
  script
    :coffee-script
      example = () ->
        @schema = () ->
          nip:
            type: 'Text'
            title: 'NIP'
            help: 'Enter NIP number'
            validators: ['nip']
            editorAttrs:
              autocomplete: 'off'

      document.addEventListener "DOMContentLoaded", example, false
      window.addEventListener "load", example, false
