extends ./base/layout

block title
  title Backbone-Forms Pesel validator examples

block menu
  +menu('pesel')

block extraheaders
  script
    :coffee-script
      example = () ->
        @schema = () ->
          nip:
            type: 'Text'
            title: 'Pesel'
            help: 'Enter Pesel number'
            validators: ['pesel']
            editorAttrs:
              autocomplete: 'off'

      document.addEventListener "DOMContentLoaded", example, false
      window.addEventListener "load", example, false
