extends ./base/layout

block title
  title Backbone-Forms phone validator examples

block menu
  +menu('phone')

block extraheaders
  script
    :coffee-script
      example = () ->
        @schema = () ->
          phone:
            type: 'Text'
            title: 'Phone'
            help: 'Enter phone number'
            validators: ['phone']
            editorAttrs:
              autocomplete: 'off'

      document.addEventListener "DOMContentLoaded", example, false
      window.addEventListener "load", example, false
