extends ./base/layout

block title
  title Backbone-Forms REGON validator examples

block menu
  +menu('regon')

block extraheaders
  script
    :coffee-script
      example = () ->
        @schema = () ->
          nip:
            type: 'Text'
            title: 'REGON'
            help: 'Enter Regon number'
            validators: ['regon']
            editorAttrs:
              autocomplete: 'off'

      document.addEventListener "DOMContentLoaded", example, false
      window.addEventListener "load", example, false
